@import "tailwindcss";

@theme {
  --color-primary: #25181a;
  --color-primary-tint-1: #392624;
  --color-primary-shade-1: #26181a;
  --color-title: #603809;
  --color-secondary: #f8e4be;
  --color-secondary-tint-1: rgba(247, 225, 188, 0.3);
  --color-bright: #fff9f1;
  --color-bright-shade-1: #fff2da;
  --color-dark: #1e1e1e;
  --color-yellow: #ffcc32;
  --color-yellow-shade-1: #f9c06a;
  /* Text */
  --text-xl: 1.4rem;
  --text-2xl: 1.6rem;
  --text-3xl: 1.8rem;
  --text-4xl: 2rem;
  /* Rounded */
  --rounded-2xl: 1.4rem;
}

@utility container {
  margin: 0 auto;
  max-width: 124rem;
  padding: 0 1rem;
}

@utility gradient-subtle {
  background: linear-gradient(180deg, #775142 0%, #54372b 40%, #25181a 100%);
}

@utility heading-secondary {
  color: var(--color-title);
  font-size: 2.4rem;
  font-weight: bold;
}
