@import "tailwindcss";

@theme {
  --color-primary: #25181a;
  --color-primary-tint-1: #392624;
  --color-title: #603809;
  --color-secondary: #f8e4be;
  /* Text */
  --text-2xl: 1.6rem;
  /* Rounded */
  --rounded-2xl: 1.4rem;
}

@utility container {
  margin: 0 auto;
  max-width: 124rem;
  padding: 0 1rem;
}

@utility gradient-subtle {
  background: linear-gradient(180deg, #775142 0%, #54372b 40%, #25181a 100%);
}

@utility heading-secondary {
  color: var(--color-title);
  font-size: 2.4rem;
  font-weight: bold;
}
